<div class="post">
  <div class="post-contents">
      <div class="post-image-container">
        <img class="post-image" src="{{url}}">
      </div>
      <div><a href="#" class="post-title">{{title}}</a></div>
      <div class="post-group">{{group}}</div>
      <div class="post-body">{{bodytext}}</div>
  </div>
</div>
