<h2>Account Page</h2>

<div class="account-settings">
  <div class="username">{{username}}</div>
  <button type="button" id="parental-button">Parental Controls</button>
</div>

<div id="modal-backdrop-a" class="hidden modal-backdrop"></div>
  <div id="parental-controls-modal" class="hidden modal-container">
    <div class="modal-dialog">
      <div class="modal-header">
        <h3>Parental Control Settings</h3>
        <button type="button" id="modal-close-a" class="modal-hide-button">&times;</button>
      </div>
      <div class="modal-body">

        <div class="input-element">
          <label for="parental-password-input">Set Password</label>
          <input type="text" id="parental-password-input">
        </div>
        <div class="input-element">
          <label for="nsfw-allow" class="container">Allow NSFW Content
            <input type="checkbox" id="nsfw-allow" name="nsfw-allow" value="yes">
            <span class="checkmark"></span>
          </label><br>

        </div>

      </div>
      <div class="modal-footer">
        <button type="button" id="modal-cancel-a" class="modal-hide-button action-button">Cancel</button>
        <button type="button" id="modal-accept-a" class="action-button">Save</button>
      </div>

    </div>
  </div>
</div>
